<a href="#" class="backtotop">PAGE TOP</a>
<footer class="footer">
  <div class="footer__banner">
    <a href="#" class="footer__banner-link">
      <img src="_assets/images/recruit.jpg" alt="recruit" />
    </a>
    <a href="#" class="footer__banner-link">
      <img src="_assets/images/contact.jpg" alt="contact" />
    </a>
  </div>
  <div class="footer__icons">
    <div class="footer__icon">
      <a class="footer__icon-link" href="#">
        <img
          class="footer__icon-img-fb"
          src="_assets/images/fb.svg"
          alt="facebook"
        />
      </a>
    </div>
    <div class="footer__icon">
      <a class="footer__icon-link" href="#">
        <img
          class="footer__icon-img-ig"
          src="_assets/images/ig.svg"
          alt="facebook"
        />
      </a>
    </div>
    <div class="footer__icon">
      <a class="footer__icon-link" href="#">
        <img
          class="footer__icon-img-line"
          src="_assets/images/line.svg"
          alt="facebook"
        />
      </a>
    </div>
  </div>
  <p class="footer__copyright">
    <small>Copyright nadia inc. All Rights Reserved.</small>
  </p>
</footer>
<div class="return-top-btn" id="pagetop">
  <a href="#" class="return-top-btn__link"></a>
</div>
