<header class="header">
  <h1 class="header__ttl">
    <a href="#" class="header__link">
      <img src="_assets/images/logo.png" alt="logo" />
    </a>
  </h1>
  <nav class="gnav" id="gnav">
    <ul class="gnav__nav">
      <li class="gnav__list">
        <a href="#whatsnew" class="gnav__link">WHAT'S NEW</a>
      </li>
      <li class="gnav__list"><a href="#menu" class="gnav__link">MENU</a></li>
      <li class="gnav__list">
        <a href="#shopinfo" class="gnav__link">SHOP INFO</a>
      </li>
    </ul>
    <ul class="gnav__sns">
      <li class="gnav__sns-list">
        <a href="#" class="gnav__sns-link"
          ><img
            class="gnav__sns-link-icon-fb"
            src="_assets/images/fb.svg"
            alt="facebook_icon"
        /></a>
      </li>
      <li class="gnav__sns-list">
        <a href="#" class="gnav__sns-link"
          ><img
            class="gnav__sns-link-icon-ig"
            src="_assets/images/ig.svg"
            alt="instagram_icon"
        /></a>
      </li>
      <li class="gnav__sns-list">
        <a href="#" class="gnav__sns-link"
          ><img
            class="gnav__sns-link-icon-line"
            src="_assets/images/line.svg"
            alt="line_icon"
        /></a>
      </li>
    </ul>
  </nav>
  <div class="nav-btn" id="hamburger">
    <div class="bar" id="bar"></div>
  </div>
</header>
