@charset "utf-8";

.return-top-btn {
  position: fixed;
  z-index: 3;
  right: 88px;
  bottom: 88px;
  width: 70px;
  height: 70px;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;

  &__link {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }

  &__link::before {
    content: "";
    position: absolute;
    top: 31px;
    left: 50%;
    width: 15px;
    height: 15px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: translateX(-50%) rotate(45deg);
  }

  @media screen and (max-width: 768px) {
    right: 15px;
    bottom: 15px;
    width: 40px;
    height: 40px;

    &__link::before {
      top: 18px;
      width: 10px;
      height: 10px;
    }
  }
}
