@charset "utf-8";

span {
  display: block;
}

.btn {
  height: 50px;
  width: 263px;
  margin: 0 auto;
  font-size: 14.5px;
  color: #fff;
  background: #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 768px) {
    width: 185px;
    height: 35px;
    font-size: 13px;
  }
}

.btn:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.main {
  margin-top: 80px;

  @media screen and (max-width: 768px) {
    margin-top: 65px;
  }
}

.swiper-container {
  height: 700px;

  @media screen and (max-width: 768px) {
    height: 420px;
  }
}

.swiper-slide {
  width: 100;
  height: 700px;
}

.mv-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.swiper-pagination {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.swiper-pagination-bullet {
  opacity: 0.7 !important;
  width: 14px !important;
  height: 14px !important;
  margin: 0 21px 0 0 !important;
  background-color: #ffffff !important;
}

.swiper-pagination-bullet-active {
  background-color: #000000 !important;
}

.concept {
  background: url(../images/concept.jpg) center center / cover;

  &__container {
    padding: 100px 15px;
  }

  &__ttl {
    margin-bottom: 58px;
    font-size: 38px;
    line-height: 1.32;
    font-family: "Bree Serif", serif;
    color: #fff;
    text-align: center;
  }

  &__text {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
  }

  &__text-sp {
    display: none;
  }

  @media screen and (max-width: 768px) {
    padding: 50px 15px 26px;
    background: url(../images/concept_sp.jpg) center center / cover;

    &__ttl {
      font-size: 23px;
      margin-bottom: 30px;
    }

    &__container {
      padding: 0;
    }

    &__text {
      font-size: 14px;
      line-height: 1.79;
    }

    &__text-pc {
      display: none;
    }

    &__text-sp {
      display: block;
    }
  }
}

.whatsnew {
  &__wrapper {
    padding: 0 15px;
    max-width: 980px;
    margin: 120px auto;
  }

  &__ttl {
    margin-bottom: 40px;
    text-align: center;
    color: #000;
    font-size: 38px;
    font-family: Bree Serif;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__list {
    width: 42%;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
  }

  &__pic {
    width: 34%;
  }

  &__inner {
    width: 63%;
  }

  &__day {
    margin-bottom: 18px;
    font-size: 14px;
    font-family: ヒラギノ角ゴ Pro;
    font-weight: bold;
    color: #a0a0a0;
  }

  &__text {
    font-size: 13px;
    line-height: 1.46;
    max-width: initial;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  @media screen and (max-width: 768px) {
    &__wrapper {
      margin: 48.5px 0 69px;
    }

    &__ttl {
      font-size: 23px;
      line-height: 1.09;
    }

    &__container {
      margin-bottom: 7px;
    }

    &__list {
      width: auto;
      margin-bottom: 25px;
    }

    &__pic {
      width: 95px;
    }

    &__inner {
      width: calc(100% - 95px - 15px);
      margin-left: 15px;
    }

    &__day {
      line-height: 1em;
      font-size: 12px;
      margin-bottom: 11px;
    }

    &__day-1,
    &__day-2 {
      margin-bottom: 11px;
    }

    &__day-3,
    &__day-4 {
      margin-bottom: 14px;
    }

    &__text {
      font-size: 13px;
      line-height: 1.46;
      max-width: initial;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

.info {
  max-width: 980px;
  margin: 0 auto 60px;

  &__ttl {
    margin-bottom: 42px;
    color: #000;
    text-align: center;
    font-size: 38px;
    font-family: "Bree Serif", serif;
  }

  &__wrapper {
    display: flex;
    justify-content: start;
    padding: 0 15px;
    margin-bottom: 50px;
  }

  &__list {
    margin-left: 40px;
  }

  &__term {
    padding: 0 10px;
    font-size: 12px;
    display: inline-block;
    background: #000;
    color: #fff;
  }

  &__desc {
    margin: 5px 0 20px;
    color: #434343;
    line-height: 1.535;
  }

  &__asterisk {
    color: #434343;
    font-size: 14px;
    line-height: 1.82;
  }

  &__gallery {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  &__img {
    width: 230px;
    height: 230px;
    margin: 0 24px;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 60px;

    &__ttl {
      margin-bottom: 18px;
      font-size: 23px;
      line-height: 1.09;
    }

    &__wrapper {
      padding: 0 15px;
      margin-bottom: 7px;
      display: block;
    }

    &__map {
      position: relative;
      width: 100%;
      padding: calc(294 / 445 * 100%) 0 0;
      margin-bottom: 25px;
    }

    &__map iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &__list {
      margin-left: 0;
    }

    &__term {
      line-height: 1em;
      padding: 3px 9px;
      font-size: 11px;
    }

    &__desc {
      margin: 9.5px 0 18px 0;
      line-height: 1.56;
      font-size: 13px;
    }

    &__asterisk {
      display: none;
    }

    &__gallery {
      width: 100%;
      padding: 0 15px;
      margin-bottom: 30px;
      justify-content: space-between;
    }

    &__img {
      width: 29%;
      height: auto;
      margin: 0;
    }
  }
}

.menu {
  margin-bottom: 120px;

  &__ttl {
    color: #000;
    text-align: center;
    font-size: 38px;
    font-family: "Bree Serif", serif;
  }

  &__wrapper {
    max-width: 980px;
    padding: 0 15px;
    margin: 40px auto 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__inner {
    width: 29%;
    display: flex;
    flex-direction: column;
  }

  &__img {
    height: 225px;
  }

  &__name {
    margin-top: 30px;
    font-size: 18px;
    color: #434343;
    font-family: ヒラギノ角ゴ Pro;
    font-weight: bold;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 3em;
  }

  &__price {
    color: #434343;
    line-height: 2;
    font-size: 16px;
  }

  &__text {
    height: 4em;
    color: #808080;
    line-height: 1.5;
    font-size: 14px;
    display: flex;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 60px;

    &__ttl {
      font-size: 23px;
      line-height: 1.09;
    }

    &__wrapper {
      padding: 0 15px;
      margin: 18px 0 0;
      display: block;
    }

    &__inner {
      width: 100%;
      margin-bottom: 25px;
    }

    &__inner:last-child {
      margin-bottom: 28px;
    }

    &__img {
      width: 100%;
      height: auto;
      margin-bottom: 23px;
    }

    &__img img {
      width: 100vw;
    }

    &__name {
      height: auto;
      margin-top: 0;
      font-weight: normal;
      font-size: 16px;
    }

    &__price {
      font-size: 14px;
    }

    &__text {
      height: auto;
      font-size: 12px;
    }
  }
}

.about {
  background: #eeeeee;

  &__wrapper {
    padding: 105px 0 120px;
  }

  &__ttl {
    margin-bottom: 57px;
    color: #000;
    line-height: 1.3;
    text-align: center;
    font-size: 38px;
    font-family: "Bree Serif", serif;
  }

  &__text {
    color: #000;
    margin-bottom: 62px;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
  }

  &__text-sp {
    display: none;
  }

  &__container {
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 768px) {
    &__wrapper {
      padding: 50px 0;
    }

    &__ttl {
      margin-bottom: 33px;
      font-size: 23px;
    }

    &__text {
      margin-bottom: 36px;
      font-size: 14px;
      line-height: 1.96;
    }

    &__text-pc {
      display: none;
    }

    &__text-sp {
      display: block;
    }
  }
}

.backtotop {
  line-height: 1em;
  padding: 19px 0;
  font-size: 14px;
  text-align: center;
  display: block;
  background: #434343;
  color: #fff;

  @media screen and (max-width: 768px) {
    padding: 13px 0;
    font-size: 13px;
  }
}

.footer {
  padding-bottom: 25px;
  background: #000;

  &__banner {
    display: flex;
    justify-content: center;
  }

  &__banner-link {
    width: 325px;
    margin: 60px 15px 42px;
  }

  &__icons {
    display: flex;
    justify-content: center;
  }

  &__icon {
    margin: 0 23px 40px;
  }

  &__icon-link {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
  }

  &__icon-img-fb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
  }
  &__icon-img-ig {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 19px;
  }

  &__icon-img-line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
  }

  &__copyright {
    font-size: 10px;
    text-align: center;
    color: #fff;
  }

  @media screen and (max-width: 768px) {
    padding: 25px 38px 15px;

    &__banner {
      display: block;
      text-align: center;
      margin-bottom: 36px;
    }

    &__banner-link {
      width: 244px;
      display: block;
      margin: 0 auto 15px;
    }

    &__icons {
      margin-bottom: 36px;
    }

    &__icon {
      margin: 0 13px;
    }

    &__icon-link {
      position: relative;
      display: block;
      width: 35px;
      height: 35px;
      background: #fff;
      border-radius: 50%;
    }
  }
}
